<div class="wrapper">

  <header id="header">
    
    <div class="container">

          <div class="col-md-10 offset-md-1">

              <img src="{{path}}assets/img/icon.png" />
              <h1>{{title}}</h1>

          </div>

    </div>

  </header>

  <!--END Header-->

  <nav id="nav">

    <div class="container">

        <div class="col-md-10 offset-md-1">    

            <ul>
                <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a></li>
                <li><a [routerLink]="['/productos']" [routerLinkActive]="['active']">Productos</a></li>
                <li><a [routerLink]="['/createproducto']" [routerLinkActive]="['active']">Crear Producto</a></li>
            </ul> 

        </div>

    </div>

  </nav>

  <!--END Nav-->

  <section id="section">

      <div class="container">

        <div class="col-md-10 offset-md-1">
            
            <router-outlet></router-outlet>
            <!-- Routed components go here -->
          
        </div>
        
      </div>

  </section>

  <!--END Section-->

  <footer id="footer">

    <div class="container">

        <div class="col-md-10 offset-md-1">

            <p>@Author Andres Cruz | 2018 | Web UI</p>

        </div>

    </div>

  </footer>

   <!--END footer-->

</div>

