<div class="wrapper">

  <header id="header">
    
    <div class="container">

          <div class="col-md-10 offset-md-1">

              <img src="assets/img/icon.png" />
              <h1>{{title}}</h1>

          </div>

    </div>

  </header>

  <!--END Header-->

  <nav id="nav">

    <div class="container">

        <div class="row align-items-center">

            <div class="col-md-6 offset-md-1">    

                <ul>
                    <li><a [routerLink]="['/home']" [routerLinkActive]="['active']">Home</a></li>
                    <li><a [routerLink]="['/productos']" [routerLinkActive]="['active']">Productos</a></li>
                    <li><a [routerLink]="['/createproducto']" [routerLinkActive]="['active']">Crear Producto</a></li>
                </ul> 

            </div>

            <div class="col-md-3 offset-md-1">

                <div class="row no-gutters formsearch">

                    <div class="col-md-6">
                        <input type="text" placeholder="Buscar ..." class="form-control form-control-sm" name="buscar" [(ngModel)]="busqueda">
                    </div>

                    <div class="col-md-6">
                        <button (click)="getSearch()" class="btn btn-info btn-sm" >Buscar</button>
                    </div>
                    
                </div>

            </div>

        </div>

    </div>

  </nav>

  <!--END Nav-->

  <section id="section">

      <div class="container">

        <div class="col-md-10 offset-md-1">
            
            <router-outlet></router-outlet>
            <!-- Routed components go here -->
          
        </div>
        
      </div>

  </section>

  <!--END Section-->

  <footer id="footer">

    <div class="container">

        <div class="col-md-10 offset-md-1">

            <p>@Author Andres Cruz | 2018 | Web UI</p>

        </div>

    </div>

  </footer>

   <!--END footer-->

</div>

