<h3>{{title}}</h3>
<hr>

<div *ngIf="!productos">
    No hay productos...
</div>

<div *ngIf="productos" class="row">

    <div class="col-md-4" *ngFor="let producto of productos">
        <div class="card item">

            <div *ngIf="producto.imagen">
                <img src="{{pathImgApi}}{{producto.imagen}}" class="card-img-top set-img"/>
            </div>

            <div *ngIf="!producto.imagen">
                <img src="{{pathAssets}}img/image-1539379685-image-1492887117-sf3-cover.jpg" class="card-img-top set-img"/>
            </div>            

            <div class="card-body">
                <h5>{{producto.marca}}</h5>
                <div><strong>Precio:</strong> ${{producto.precio}}</div>
                <div><strong>Descripcion:</strong> {{producto.descripcion}}</div>
                <ul *ngIf="seguro != producto.id">
                    <li>
                        <a [routerLink]="['/producto', producto.id]" class="btn btn-sm btn-outline-success">Ver</a>
                    </li>
                    <li>
                        <a [routerLink]="['/productoedit', producto.id]" class="btn btn-sm btn-outline-dark">Editar</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" (click)="deleteConfirm(producto.id)" class="btn btn-sm btn-outline-danger">Eliminar</a>
                    </li>                                        
                </ul>        
                <!--valid message-->
                <div *ngIf="seguro == producto.id" [ngClass]="['confirmdel']">    
                    <span>¿Deseas eliminarlo?</span>                
                    <button type="button" (click)="onDeleteProducto(producto.id)" class="btn btn-sm btn-danger">Confirmar</button>
                    <button type="button" (click)="cancelConfirm()" class="btn btn-sm btn-primary">Cancelar</button>
                </div>    
            </div>

        </div>

    </div>

</div>